/* ============================================= */
/* Variables */
/* ============================================= */

/* Colors ******************* */
$color-main: #58e1c1;
$color-link: #51ddfc;

$btn-def-color: #51ddfc;
$btn-err-color: #e4757a;
$btn-info-color: #927bc1;
$btn-scss-color: #63cc82;
$btn-warn-color: #fd7856;

// Breakpoints
$break-min : '(min-width: 768px)';
